header {
    height: 90vh;
    overflow: hidden;
    padding-top: 7rem;
}
.header__container{
    text-align: center;
    height: 100%;
    position: relative;
}
/* -------------CTA----------------- */
.cta {
    margin-top: 2.5rem;
    display: flex;
    gap: 1.2rem;
    justify-content: center;
}
/* -------------header__socials----------------- */

.header__socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    position: absolute;
    left: 0;
    bottom: 3rem;
}
.header__socials_sm{
    display: none;
}
.header__socials::after {
    content: '';
    width: 2px;
    height: 2rem;
    background-color: var(--color-primary);
}

/* -------------image----------------- */
.me {
    background-color: var(--color-primary);
    width: 22rem;
    height: 30rem;
    position: absolute;
    left: calc(50% - 11rem);
    margin-top: 4rem;
    border-radius: 12rem 12rem 0 0;
    overflow: hidden;
    /* padding: 5rem 1.5rem 1.5rem 1.5rem 1.5rem; */
}
/* -------------scroll down----------------- */
.scroll__down{
    position: absolute;
    right: -2.3rem;
    bottom: 5rem;
    transform: rotate(90deg);
    font-weight: 300;
    font-size: 0.9rem;
}

/* ---------------small devices 1024px -------------------- */
@media screen and (max-width: 1024px){  
    .me {
        display: block;
        max-width: 50%;
        height: 53%;
        margin-top: 1rem;
    }
}


/* ---------------small devices 600px -------------------- */
@media screen and (max-width: 600px){   
    .scroll__down  , .header__socials{
        display: none;
    }
    .me {
        display: block;
        max-width: 44%;
        height: 35%;
        margin: 1% calc(50% - 26%);
    }
    .header__socials_sm{
        display: inline;
        display: flex;
        gap: 10px;
        justify-content: center;
        margin-top: 2rem;
    }
} 
@media screen and (max-width: 376px) {
    .me {
        margin: 1% calc(50% - 20%);
    }
}